* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fondos {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.fondos h1 {
    text-shadow: 1px 1px 1px wheat;
    font-size: 4rem;
    color: rgba(0, 0, 128, 0.384);
}

.enero {
    background-image: url(../../../Pictures/ftosverano2021/DSC_0687.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.febrero {
    background-image: url(../../../Pictures/ftosverano2021/DSC_0936.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.marzo {
    background-image: url(../../../Pictures/ftosverano2021/DSC_0920.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.abril {
    background-image: url(../../../Pictures/ftosverano2021/DSC_0850.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.mayo {
    background-image: url(../../../Pictures/ftosverano2021/DSC_0857.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.junio {
    background-image: url(../../../Pictures/ftosverano2021/DSC_0878.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.julio {
    background-image: url(../../../Pictures/ftosverano2021/DSC_0737.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.agosto {
    background-image: url(../../../Pictures/ftosverano2021/DSC_0703.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.septiembre {
    background-image: url(../../../Pictures/ftosverano2021/DSC_1048.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.octubre {
    background-image: url(../../../Pictures/ftosverano2021/DSC_1000.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.noviembre {
    background-image: url(../../../Pictures/ftosverano2021/DSC_1001.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.diciembre {
    background-image: url(../../../Pictures/ftosverano2021/DSC_0698.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
